################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WarCardGame.slnx/FileContentIndex/bcf464e6-6c59-4da8-b9c4-898771ff6de6.vsidx
/.vs/WarCardGame.slnx/FileContentIndex/a76f6dbf-e4d6-4704-8165-2836e66bda9a.vsidx
/.vs/WarCardGame.slnx/FileContentIndex/46cb384e-8059-4006-8133-53af9344d655.vsidx
/.vs/WarCardGame.slnx/FileContentIndex/2932329a-82aa-4acb-bbf6-2a8ff524287f.vsidx
/.vs/WarCardGame.slnx/FileContentIndex/07ac9a57-c7ef-4c7d-b374-cb6b77652751.vsidx
