################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataLogging/.vs/DataLogging.slnx/FileContentIndex/168af3ed-2da6-470d-ad82-632aa36b6773.vsidx
/DataLogging/.vs/DataLogging.slnx/FileContentIndex/2364ab88-0734-41d5-a6b1-063bfea4c70f.vsidx
/DataLogging/.vs/DataLogging.slnx/FileContentIndex/f35eaf9e-d9de-4613-9018-7b3a675a4ccc.vsidx
/DataLogging/.vs/DataLogging.slnx/FileContentIndex
/HVAC/.vs/HVAC.slnx/FileContentIndex
